.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
  align-self: center;
  width: 740px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 64px;

}
